<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hualiang.core.mapper.RoomTypeMapper">

    <!-- List<String> getAllRoomTypeNameByHotel(Integer hotelId); -->
    <select id="getAllRoomTypeNameByHotel" resultType="String">
        select type_name from room_type where hotel_id = #{hotelId}
    </select>
    
</mapper>