<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title></title>
        <link rel="icon" th:href="@{/static/favicon.ico}" />
        <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/static/admin/css/main.css}" />
        <script th:src="@{/static/js/vue.min.js}"></script>
        <script th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/static/bootstrap/js/bootstrap.bundle.js}"></script>
        <script th:src="@{/static/admin/js/config.js}"></script>
        <script th:src="@{/static/admin/js/script.js}"></script>
    </head>

    <body>
        <style>
            .main {
                overflow-y: auto;
            }

            .info .card {
                height: 100%;
            }

            .user .card {
                min-height: 500px;
            }

            .card h5 {
                margin-bottom: 20px;
            }

            .main ul li {
                margin-bottom: 3px;
            }
        </style>
        <main>

        </main>
    </body>
</html>
